.daum-post-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.daum-post-container {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.daum-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #ebf8f0;
  color: #1e1e1e;
  padding: 20px;
  font-size: 27px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.daum-post-header img {
  width: 30px;
  height: 30px;
}

.adress-input button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adress-input button img {
  width: 25px;
  height: auto;
}

.adress-input {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
