/* 전체 */
strong {
  color: #008a34;
}

.resume-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.resume-form-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin-bottom: 40px;
  gap: 10px;
}

.resume-form-item label {
  font-weight: 400;
  font-size: 20px;
  flex-shrink: 0;
  width: 15%;
  margin-right: 20px;
}

.resume-form-item input,
.resume-form-item select {
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  cursor: pointer;
  width: 90%;
  background-color: transparent;
  outline: none;
  font-size: 17px;
  text-align: center;
}

.resume-form-item input:hover,
.resume-form-item input:focus {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px -2px (0, 0, 0, 0.1);
  border-bottom: 2px solid #008a34;
  padding: 5px 20px;
  cursor: pointer;
  width: 90%;
  background-color: transparent;
  outline: none;
}

.resume-form-item input::placeholder {
  color: #c0c0c0;
  text-align: center;
}

.resume-form-item select {
  text-align: center;
}

.resume-form-item > div {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 8px;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button img {
  width: 15px;
  height: 15px;
}

.plus-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 15px;
}

.plus-button img {
  width: 25px;
  height: 25px;
}

/* 나이 표시 */
.age-display {
  font-size: 17px;
  color: #333;
  width: 20%;
  align-items: center;
  margin: 0;
  font-weight: 500;
}

/* 주소 검색 모달 */
.daum-post-header {
  background-color: #ebf8f0;
  color: #1e1e1e;
  padding: 20px;
  font-size: 25px;
  font-weight: 500;
}

.daum-post-header img {
  width: 30px;
  height: 30px;
}

/* PersonalData */
.adress-input button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adress-input button img {
  width: 25px;
  height: 25px;
}

/* 상세 업무내용 input은 한 줄 아래로 */
.experience-form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin-bottom: 40px;
  gap: 10px;
}

.row-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin-bottom: 10px;
  gap: 10px;
}

.row-wrapper-input {
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  cursor: pointer;
  width: 90%;
  background-color: transparent;
  outline: none;
  font-size: 17px;
  text-align: center;
}

.row-wrapper-input:hover,
.row-wrapper-input:focus {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px -2px (0, 0, 0, 0.1);
  border-bottom: 2px solid #008a34;
  padding: 5px 20px;
  cursor: pointer;
  width: 90%;
  background-color: transparent;
  outline: none;
}

.detail-input {
  display: flex;
  align-items: center;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  width: 90%;
  background-color: transparent;
  outline: none;
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
  resize: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.detail-input::placeholder {
  font-size: 17px;
}

.detail-input:focus,
.detail-input:hover {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px -2px (0, 0, 0, 0.1);
  border-bottom: 2px solid #008a34;
  padding: 5px 20px;
  cursor: pointer;
  width: 90%;
  background-color: transparent;
  outline: none;
}

/* 날짜 입력 */
.birth-input {
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  align-self: flex-start;
}

.birth-input::placeholder {
  font-size: 17px;
}

.date-input {
  width: 40%;
  text-align: center;
  padding: 5px 10px;
  border: none;
}

.date-input::placeholder {
  font-size: 10px;
  color: #c0c0c0;
}

.date-input:hover,
.date-input:focus {
  width: 40%;
  text-align: center;
  padding: 5px 10px;
  align-self: flex-start;
  border-bottom: 2px solid #008a34;
  outline: none;
}

.date-select {
  width: 40%;
  padding: 5px 10px;
  border: none;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.date-select:hover,
.date-select:focus {
  border-bottom: 2px solid #008a34;
  outline: none;
}

.date-select::placeholder {
  color: #c0c0c0;
  text-align: center;
  font-size: 15px;
}

.date-select option {
  color: #1e1e1e;
  text-align: center;
  font-size: 15px;
}

/* 맞춤기업 TEST 결과 */
.test-result-title {
  margin-bottom: 0;
}

.test-result-detail {
  font-size: 15px;
  color: #00a896;
}

.test-result-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin-bottom: 40px;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.test-result-item ul {
  width: 35%;
}

.test-result-item ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
  align-items: center;
}

.test-page-button {
  border: none;
  background-color: #008a34;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 15px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #ebf8f0;
}

.test-page-button:hover {
  background-color: #016b2a;
}

.test-result-item label {
  font-weight: 400;
  font-size: 17px;
  margin-right: 20px;
  width: 50%;
  border-right: 1px solid #1e1e1e30;
}

.test-category {
  background-color: #008a34;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
