.personal-main_container {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* 배너 영역 */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #008a34;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* 배너 하단 버튼 */
.banner-button-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* 버튼 섹션 */
.button-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f0fdf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  box-sizing: border-box;
}

/* button-section 맨 위 버튼 */
.section-top-button-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* 이력서 등록 버튼 */
.resume-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-direction: column;
  padding: 2rem;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-button:hover {
  background-color: #008a3542;
}

.resume-button img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.resume-button p {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

/* 스크롤 이동 버튼 */
.scroll-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.scroll-button img {
  width: 120px;
}

.banner-button-wrapper.tight {
  margin-bottom: 8rem;
}

.section-bottom-button-wrapper {
  margin-top: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
