.personal-main_container {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.banner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #008a34; /* 여백에 깔릴 색깔 (이미지랑 비슷하게 설정) */
}
.button-section {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

.button-wrapper {
  width: 35%;
  aspect-ratio: 1 / 1;
  background-color: #f0fdf4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.resume-button {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0fdf4;
  border: none;
  border-radius: 10px;
  padding: 4rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.resume-button:hover {
  background-color: #008a3542;
}

.resume-button img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.resume-button p {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
