/* 보고서 내용 */
.report-candidate-page {
  width: 210mm;
  height: 297mm;
  padding: 20mm;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #1e1e1e;
}

.recommand-result-summary {
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
}
