@media print {
  .strength-category-result_report-cover-page-content {
    all: initial; /* 기본 스타일 전부 제거 */
    font-family: sans-serif; /* 원하는 스타일만 예외로 다시 지정 */
    color: black;
    padding: 20px;
  }
}

/* 보고서 내용 */
.strength-category-result_report-cover-page-content {
  width: 210mm;
  height: 297mm;
  padding: 20mm;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #1e1e1e;
}

.strength-category-result_report-summary {
  text-align: left;
  margin-bottom: 12px;
  color: #c0c0c0;
}

.strength-category-result_report-summary input {
  color: #c0c0c0;
  width: 10%;
  margin-right: 5px;
  border: 1px solid #c0c0c0;
  font-size: 15px;
}

.strength-category-result_report-summary input::placeholder {
  color: #c0c0c0;
}

.strength-category-result_report-cover-page-content h3 {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #1e1e1e;
}

.strength-category-result_report-author-input {
  display: block;
  margin-left: auto;
  width: 25%;
  font-size: 17px;
  padding: 8px;
  border: none;
  color: #1e1e1e;
}

.strength-category-result_recommand-result-summary {
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
}

.strength-category-result_report-candidate-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #1e1e1e;
}

.strength-category-result_report-candidate-table thead {
  background-color: #c0c0c0;
  border-bottom: 1px solid #1e1e1e;
}

.strength-category-result_report-candidate-table thead th {
  border-right: 1px solid #1e1e1e;
}

.strength-category-result_report-candidate-table tbody td {
  border-right: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
  padding: 10px;
}

.strength-category-result_strength-category-result_recommand-result-summary h4 {
  text-align: left;
  margin-bottom: 30px;
  font-size: 20px;
}

.strength-category-result_report-cover-page-content p {
  text-align: center;
  margin-top: 300px;
}
