/* 페이지 인덱스. */
.image-recommend-result_wrapper header {
  width: 100%;
}

.image-recommend-result_page-index-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2fff7;
  border-left: 4px solid #008a34;
  padding-left: 10px;
  width: calc(100% - 100px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px 10px 10px 0px;
}

.image-recommend-result_page-index-wrapper img {
  height: 30px;
  margin-right: 10px;
}

.image-recommend-result_page-index-wrapper h2 {
  font-size: 24px;
  font-weight: 500;
  color: #1e1e1e;
}

.image-recommend-result_wrapper header p {
  font-weight: 500;
  font-size: 18px;
  color: #008a34;
  margin-left: 100px;
}
