/* 로딩중 표시 */
.loading-text {
  font-weight: bold;
  color: #1e1e1e;
  font-size: 20px;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.1rem;
  color: #444;
}

.loading-spinner {
  width: 16px;
  height: 16px;
  border: 3px solid #ccc;
  border-top: 3px solid #008a34;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-right: 10px;
}

/* 점수 페이지 (첫 번째 페이지) */
/* 페이지 인덱스 */
.image-recommend-result_wrapper {
  margin-top: 130px;
  margin-bottom: 50px;
}

.image-recommend-result_wrapper header {
  width: 100%;
}

.image-recommend-result_page-index-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2fff7;
  border-left: 4px solid #008a34;
  padding-left: 10px;
  width: calc(100% - 100px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px 10px 10px 0px;
}

.result-graph-and-keyword {
  margin-bottom: 100px;
}

.image-recommend-result_page-index-wrapper img {
  height: 30px;
  margin-right: 10px;
}

.image-recommend-result_page-index-wrapper h2 {
  font-size: 24px;
  font-weight: 500;
  color: #1e1e1e;
}

.image-recommend-result_wrapper header p {
  font-weight: 500;
  font-size: 18px;
  color: #008a34;
  margin-left: 100px;
}

/* main */
.image-recommend-result_graph {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.image-recommend-result_top2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2fff7;
  border: none;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 17px;
}

.image-recommend-result_top2 > span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c8e6c9;
  margin-bottom: 40px;
}

.image-recommend-result_keyword {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.keyword-result-title {
  font-size: 20px;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
  color: #1e1e1e;
}

.keyword-detail {
  display: flex;
  align-items: center;
  gap: 6px;
}

.keyword-detail p {
  color: #1e1e1e;
}

.keyword {
  background-color: #008a34;
  padding: 5px 10px;
  border-radius: 20px;
  color: #f2fff7;
  font-weight: 600;
}

/* 기업 리뷰 */
.image-recommend-result_review {
  margin-bottom: 100px;
}

.review-list {
  list-style: none;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: #f2fff7;
  font-size: 17px;
  font-weight: 500;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 50%;
}

.review-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.list-style {
  width: 6px;
  height: 6px;
  background-color: #008a34;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
}

.review-list li p {
  margin: 0;
}

/* 전체 점수표 */
.image-recommend-result_score-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.image-recommend-result_graph-header,
.image-recommend-result_score-header h3 {
  font-weight: 500;
  font-size: 20px;
  color: #1e1e1e;
  margin-left: 100px;
  background: linear-gradient(to top, #c8e6c9 50%, transparent 50%);
  padding: 2px 4px;
  display: inline-block;
}

.score-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 100px;
}

.score-legend > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.score-legend span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.high-score {
  background-color: #008a34; /* 높은 점수 */
}

.middle-score {
  background-color: #008a3574; /* 중간 점수 */
}

.low-score {
  background-color: #008a3535; /* 낮은 점수 */
}

.image-recommend-result_score-table {
  width: 35%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: #f2fff7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  font-weight: 500;
}

.image-recommend-result_score-table td {
  padding: 10px;
  text-align: center;
}

.image-recommend-result_score-table tr > td {
  border-bottom: 1px solid #c8e6c9;
}

.image-recommend-result_score-table tr:last-child > td {
  border-bottom: none;
}

.image-recommend-result_score-table td:nth-child(2) {
  border-right: 1px solid #c8e6c9;
  width: 25%;
}

.image-recommend-result_score-table td:nth-child(1) {
  border-right: 1px solid #c8e6c9;

  width: 7%;
}

.image-recommend-result_score-table td:nth-child(3) {
  width: 60%;
}

.image-recommend-result_score-table td span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 auto;
}

.image-recommend-result_job-seeker-button {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #008a3466;
  color: #f2fff7;
  border: none;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  flex-direction: column;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.image-recommend-result_job-seeker-button:hover {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.company-result-summary-tables {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
